.carousel__item {
  display: inline-block;
  min-width: 25%;
  padding: 16px;
  transition: min-width 0.2s linear;
  position: relative;
}

.carousel__item--selected {
  min-width: 60%;
}

.carousel__img {
  width: 100%;
  display: block;
}

.carousel__txt {
  text-align: center;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.carousel__item--selected .carousel__txt {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 576px) {
  .carousel__item {
    min-width: 20%;
    transition: min-width 0.5s ease;
  }

  .carousel__item--selected {
    min-width: 40%;
  }
}
