.main {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.btn__carousel {
  position: absolute;
  bottom: -50px;
}

.btn__carousel--prev {
  transform: translateX(-120%);
  left: 50%;
}

.btn__carousel--next {
  transform: translateX(120%);
  right: 50%;
}

/* @media screen and (min-width: 576px) {
  .btn__carousel {
    position: absolute;
    top: 50%;
    bottom: unset;
  }

  .btn__carousel--prev {
    left: 0;
    transform: translate(-120%, -50%);
  }

  .btn__carousel--next {
    right: 0;
    transform: translate(120%, -50%);
  }
} */
