.item {
  border: 1px solid #062625;
}

.item__img {
  width: 100%;
  display: block;
}

.item__name {
  text-align: center;
  padding: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #062625;
}
