.pagination__item--empty {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #92b512;
  font-size: 20px;
  cursor: unset;
}

.container-flex-center > :not(:last-child) {
  margin-right: 16px;
}
