.carousel {
  max-width: 100%;
}

.carousel__outter {
  overflow: hidden;
}

.carousel__inner {
  display: flex;
  align-items: center;
  transition: transform 0.3s linear;
  height: 350px;
}

.carousel__item {
  min-width: 25%;
  transition: min-width 0.3s linear;
}

.carousel__item--selected {
  min-width: 60%;
}

.carousel__btns {
  display: flex;
  justify-content: center;
}

.carousel__btns button:nth-child(1) {
  margin-right: 32px;
}

@media screen and (min-width: 576px) {
  .carousel__inner {
    transition: transform 0.5s linear;
  }

  .carousel__item {
    min-width: 20%;
    transition: min-width 0.5s ease;
  }

  .carousel__item--selected {
    min-width: 40%;
  }

  .carousel__btns {
    margin-top: 16px;
  }
}
